<select class="input select"
        data-component="{{componentName}}"
        id="{{componentName}}">
  {{#each options}}
    <option value="{{value}}" {{disabled}} {{selected}}>{{content}}</option>
  {{/each}}
</select>
